# === INICIO GITIGNORE ===

venv/
.env
.env.example
config.py
config.conf
*.log
.DS_Store
__pycache__/
*.pyc
instance/
.pytest_cache/
storage/*
!storage/.gitkeep
ui_kit/
.codex
secret.key
# === FIN GITIGNORE ===
